<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
        <title>DRF + REACT = Winning the game</title>
    </head>
    <body>
        <div id="root" class="content">
            This will be the base template.
        </div>
        {% comment %} This line is the key intersection between Django and React for us. 
        With our Django-served index.html loading main.js we can serve any awesome frikken 
        React wizardry we’d like. And we’d like to do a lot of that wizardry 
        indeed.  {% endcomment %}
        <script type="text/javascript" src="{% static 'frontend/public/main.js' %}"></script>
    </body>
</html>